<main>
  <h1>Welcome to Jacob Hinkston's Portfolio</h1>
  <p>This website is currently being developed. Thank you for your understanding.</p>
  <p><b>Check on the status of the site <a target = "_blank" href="https://github.com/jacobhinkston/jacobhinkston.com">here</a>.</b></p>
  <img
      src="./assets/maintenance.gif"
      alt="#"
  />
  <ul>
      <li>
          <a 
              href="https://linkedin.com/in/jacobhinkston/"
              target="_blank"
          >
              <img
                  src="assets/linkedin.png"
                  alt="#"
              />
              <p>/in/JacobHinkston</p>
          </a>
      </li>
      <li>
              <a 
                  href="https://github.com/jacobhinkston"
              >
                  <img
                      src="assets/github.png"
                      alt="#"
                  />
                  <p>GitHub</p>
              </a>
          </li>
      <li>
          <a href="mailto:JacobHinkston">
              <img
                  src="assets/mail.png"
                  alt="#"
              />
              <p>JacobHinkston@Gmail.com</p>
          </a>
      </li>
      <li>
          <a href="tel:3035700606">
              <img
                  src="assets/phone.png"
                  alt="#"
              />
              <p>(303)-570-0606</p>
          </a>
      </li>
      <li>
          <a 
              href="https://resume.creddle.io/resume/j0mi5fj74ua"
              target="_blank"
          >
              <img
                  src="assets/resume.png"
                  alt="#"
              />
              <p>Jacob's Resume</p>
          </a>
      </li>
      
  </ul>
</main>